.answer-button {
    width: 100%;
    height: 50px;
    background: white;
    margin-bottom: 15px;
}
/* 
.answer-button:hover {
    background: red; 
    background: rgb(98, 244, 66, .5);
    margin-bottom: 15px;
} */


.correct-answer {
    width: 100%;
    height: 50px;
    background: rgba(98, 244, 66, .5);
    margin-bottom: 15px;
}


.wrong-answer {
    width: 100%;
    height: 50px;
    background: rgba(255, 72, 48, .3);
    margin-bottom: 15px;
}

